<h1>Listing user_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Remark</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_types.each do |user_type| %>
      <tr>
        <td><%= user_type.name %></td>
        <td><%= user_type.remark %></td>
        <td><%= link_to 'Show', [:admin,user_type] %></td>
        <td><%= link_to 'Edit', edit_admin_user_type_path(user_type) %></td>
        <td><%= link_to 'Destroy', admin_user_type_path(user_type.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User type', new_admin_user_type_path %>
